<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <connectionStrings>  
    <add name="ProspectaNet" connectionString="Data Source=192.168.66.90;Initial Catalog=DC_Desarrollo;User ID=usr_Oxxo;Password=oxxousr" />
  </connectionStrings>
  
</configuration>